.sports-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-gap: 1vw;
    padding: 1vw;
    grid-auto-rows: 220px;
}

h1 {
    text-align: center;
    font-family: 'Galada', sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: var(--primary-text);
}

.sport-card {
    height: 175px;
    background-color: #1D1E2C;
    color: aquamarine;
}

.sport-card:hover {
    box-shadow: 0 0 10px 10px aquamarine;
    cursor: pointer;
}

mat-card-subtitle {
    color: #efe7bc;  
}