<div class="intro-text">
<h1>Welcome to Parsing* Points</h1>
<h2>Your ultimate destination for all for favorite sports pointers</h2>
</div>
<app-sports-carousel></app-sports-carousel>
<br>

<h2>We Offer the following services: </h2>
<div class="card-container">
    <mat-card>
        <mat-card-title>
            <mat-icon>query_stats</mat-icon>
            Sports Tracking
            <hr>
        </mat-card-title>
        <mat-card-content>
            We offer a variety of sports, and strive to provide the most recent and update data for you favorite teams
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>
            <mat-icon>event_upcoming</mat-icon>
            Upcoming Sporting Event Odds
            <hr>
        </mat-card-title>
        <mat-card-content>
            Whether you want to find the odds of you favorite teams next game, or an overview of the market. We got you covered.
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>
            <mat-icon>live_tv</mat-icon>
            Live Scores & In-Game Odds
            <hr>
        </mat-card-title>
        <mat-card-content>
            Don't miss the game! Even if you are not available to watch your favorite team, we provide live scoreboards, and live betting odds for all of your favorite teams.
        </mat-card-content>
    </mat-card>
</div>
<br>

<div class="additional-info">
    <h2>Why Choose Parsing Points?</h2>
    <p>
      At Parsing Points, we are dedicated to bringing you the most accurate and up-to-date sports betting information. Our platform is designed to help you make informed decisions with ease. Whether you're a seasoned bettor or just getting started, our comprehensive data and user-friendly interface will enhance your betting experience.
    </p>
    <p>
      Join our community of sports enthusiasts and stay ahead of the game with Parsing Points. We are committed to providing you with the best tools and insights to maximize your betting potential.
    </p>
  </div>
  
