<mat-card>
    <mat-card-header>
        <mat-card-title>
            Live
        </mat-card-title>
        <div class="match-image">
            <img [src]="match?.league_logo" alt="Leauge Logo">
            {{ leagueName | uppercase }}
        </div>
        <div class="match-btns">
            <button mat-flat-button>
                <mat-icon>grade</mat-icon>
            </button>
            <button mat-button>
                <mat-icon>
                    notification_add
                </mat-icon>
            </button>
        </div>
    </mat-card-header>

    <mat-card-content>
        <div class="column">
            <div class="team team--home">
                <div class="team-logo">
                    <img [src]="match?.home_team_logo" alt="Home team logo">
                </div>
                <div class="team-name">{{match?.home_team }}</div>
            </div> 
        </div>

        <div class="column">
            <div class="match-details">
                <div class="match-date">{{match?.commence_time | date: 'medium'}}</div>
                <div class="match-score">
                    <span class="match-score-number home"><h2>{{match?.scores?.[0]?.score ?? 0 }}</h2></span>
                    <span class="match-score-number divider"><h2>:</h2></span>
                    <span class="match-score-number away"><h2>{{match?.scores?.[1]?.score ?? 0 }}</h2></span>
                </div>
                <div class="bet-options">
                    <button class="bet" mat-button> Home
                        <span class="home-team bet"> {{match?.eventOdds?.bookmakers?.[0]?.markets?.[0]?.outcomes?.[0]?.price}}</span>
                    </button>
                    <button class="bet" mat-button>Away <span class="home-team bet">{{match?.eventOdds?.bookmakers?.[0]?.markets?.[0]?.outcomes?.[1]?.price}}</span></button>
                </div>
                <button class="place-bet" mat-button>Place Bet on {{ match?.eventOdds?.bookmakers?.[0]?.key | uppercase }} </button>
            </div>
        </div>

        <div class="column">
            <div class="team team--home">
                <div class="team-logo">
                    <img [src]="match?.away_team_logo" [alt]="match?.away_team">
                </div>
                <div class="team-name">{{match?.away_team }}</div>
            </div> 
        </div>
    </mat-card-content>
</mat-card>