.img-wrapper {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: inherit;
        width: inherit;
    }
}

ngb-carousel {
    position: relative;
    margin: auto;
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
  }
