mat-toolbar {
    background-color: #000000;
    color: #ECF0F1;
    border-bottom: 2px solid var(--secondary-accent);
    padding-bottom: 7px;
    margin-bottom: 3px;
}

.header-container {
    display:flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 5px;
    padding-top: 5px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Galada', sans-serif;
    font-weight: 500;
    font-size: 24px;
    img {
        width: 70px;
        height: 60px;
        background-color: #000000;
    }
}

.subtitle {
    display: flex;
    text-align: center;
    color: var(--primary-text);
}

.btn {
    display: flex;
    gap: 16px;
}

.options {
    background: var(--background-gradient);
}
