    <mat-toolbar>
        <div class="header-container">
        <div class="title">
            <img src="assets/sport-images/logo.png"/>Parsing* Points
        </div>
        <div class="subtitle"></div>
        <div class ="btn">
            <a routerLink="/"><button mat-button class="options"><mat-icon>home</mat-icon></button></a>
            <a routerLink="/sports"><button mat-button class="options">Sports</button></a>
            <a routerLink="/odds"><button mat-button class="options">Odds</button></a>
            <a routerLink="/scores"><button mat-button class="options">Live/Upcoming Scores</button></a>
        </div>
    </div>
    </mat-toolbar>

